.Candy {
    height: 500px;
    width: 30%;
    background-color: powderblue;
    text-align: center;
    border-style: double;
    border-width: 1em;
    margin-top: 20px;
    margin-left: 20px;
    border-color: rgba(3, 69, 120, 0.576);
    color: rgba(3, 69, 120, 0.576);
}

a {
    color: rgba(3, 69, 120, 0.576);
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}